* {
    padding: 0;
    margin: 0;
}

.logo2020 {
    width: 120px;
    cursor: pointer;
}


header {
    position: absolute;
    width: 100%;
    background-color: #050505;
    color: #ffffff;
    margin: auto;
    padding: 30px 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

header ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header ul li::after
{
    content: '';
    width: 0;
    height: 5px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

header ul li:hover::after {
    width: 100%;
}


.form7443 {
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/istockphoto-1483523559-612x612.jpg");
    background-size: cover;
}

.form7443 form {
    position: absolute;
    width: 700px;
    top: 120px;
    right: 10px;
    border: solid 2px white;
    padding: 20px 20px;
}

.body8302 {
    height: 800px;
}
.foot8364 {
    position: relative;
    height: 200px;
    width: 100%;
    bottom: 0px;
    background-color: lightgray;
}
